spring:
  profiles:
    active: local
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

---

spring:
  config:
    import:
      - classpath:/config/jwt.yml
      - classpath:/config/redis.yml
    activate:
      on-profile: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://maple-leaf-db:3306/mapledb?serverTimezone=Asia/Seoul
    username: user
    password: user
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
      database: mysql
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  level:
    org:
      hibernate:
        type: trace